body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:url("https://www.burgessyachts.com/media/adminforms/locations/s/i/singapore_republic_of_singapore_may_4_2016_supertree_grove_cloud_garden_greenhouse_and_marina_bay_sands_hotel_reflecting_in_water_at_dusk_with_glowing_lights_vb1077879.jpg");
}

.container {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}






.slider::-webkit-slider-runnable-track {
  width: 100%;
  height: .55rem;
  cursor: pointer;
  background: inherit;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}




#parallax {
  background-image:inherit;
  mix-blend-mode: difference;
}

header {
  text-align:center;
  margin-top: 15%;
  height:100%;
  width:100%;
  
}

#nav {
     text-align: right;
     height: 25px;
     width: 100%;
     margin-top:-10px;
     padding: 15px;
     animation-name: opening;
     animation-duration: 7s;
     background-color: inherit;
     }

#nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

/* Animation */


#title{
  color:white;
  
  mix-blend-mode:none;
  animation-name: title;
  animation-duration: 3s;
  animation-fill-mode:both;
  z-index:-2;
  
  
}

#second-nav a{
 text-decoration:none;
 animation-name: second-nav;
 animation-duration: 7s;
}


@keyframes title {
  from{color:whitesmoke;font-size:0em;text-shadow:0px 0px 0px transparent;}
  to{color: whitesmoke;font-size:8em;text-shadow:6px 6px 10px black; }
}

@keyframes second-nav {
  from{color:#ffffff;}
  to{color:#000000;}
}

@keyframes opening {
  from {background-color: #ffffff;}
  to {background-color: #000000;}
}


footer{
  font-size: 3em;
  z-index:1;
 padding-top: 0.3em;
  text-align:center;
  
  position:fixed;
  left:0px;
  top:0px;
  height:30px;
  width:100%;
  font-family: 'Poiret One', cursive;
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
  color:whitesmoke;
}

#tit{
  font-size: 3em;
  z-index:1;
 padding-bottom: 0.3em;
  text-align:center;
  mix-blend-mode:none;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  font-family: 'Poiret One', cursive;
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
  color:whitesmoke;

}
